{
  "presets": ["react-native"],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src",
        "config": "./config"
      }
    }]
  ]
}
